<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="console" class="viewers.ConsoleViewer"/>
<bean id="superConsole" class="viewers.SuperConsoleView"/>
<bean id="file" class="viewers.FileViewer"/>
<bean id="database" class="viewers.DatabaseViewer"/>

<bean id="division" class="operations.Divivsion"/>
<bean id="multiply" class="operations.Multiply"/>




</beans>